*::before,
*::after,
* {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body, .canvas {
    width: 100vw;
    height: 100svh;
}

.canvas {
    z-index: 1;
}

.boid {
    position: absolute;
    top: 200px;
    left: 500px;
    height: 50px;
    width: 50px;
    background-color: blue;
    z-index: 2;
}

.obstacle {
    position: absolute;
    top: 400px;
    left: 600px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
    z-index: 2;
}

.menu {
    position: fixed;
    top: 10px;
    left: 10px;
    width: fit-content;
    height: fit-content;
    backdrop-filter: blur(10px);
    background-color: rgba(204, 204, 204, 0.25);
    padding: 1rem;
    border-radius: 1rem;
    z-index: 5;
}

.menu input {
    margin: 5px 2.5px 5px 5px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgba(34, 34, 34, 0.25);
        color: white;
    }
}